<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sgtmelon.scriptum">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".presentation.screen.ui.ScriptumApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/App.Screen.DayNight">

        <activity
            android:name=".presentation.screen.ui.impl.SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/App.Screen.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.screen.ui.impl.intro.IntroActivity"
            android:configChanges="keyboardHidden"
            android:parentActivityName=".presentation.screen.ui.impl.SplashActivity"
            android:theme="@style/App.Screen.Intro">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.screen.ui.impl.main.MainActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.screen.ui.impl.note.NoteActivity"
            android:parentActivityName=".presentation.screen.ui.impl.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.screen.ui.impl.preference.PreferenceActivity"
            android:configChanges="keyboardHidden"
            android:parentActivityName=".presentation.screen.ui.impl.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.screen.ui.impl.preference.DevelopActivity"
            android:configChanges="keyboardHidden"
            android:parentActivityName=".presentation.screen.ui.impl.preference.PreferenceActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.screen.ui.impl.notification.NotificationActivity"
            android:configChanges="keyboardHidden"
            android:parentActivityName=".presentation.screen.ui.impl.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.screen.ui.impl.notification.AlarmActivity"
            android:configChanges="keyboardHidden"
            android:parentActivityName=".presentation.screen.ui.impl.main.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name=".presentation.receiver.AlarmReceiver" />
        <receiver android:name=".presentation.receiver.MainReceiver" />
        <receiver android:name=".presentation.receiver.NoteReceiver" />
        <receiver android:name=".presentation.receiver.UnbindReceiver" />

    </application>

</manifest>