<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sgtmelon.scriptum">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--  It implies READ_EXTERNAL_STORAGE, so you only need one of those, not both  -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!--  Better don't use configChanges: rotation/screenSize  -->
    <application
        android:name="sgtmelon.scriptum.cleanup.presentation.screen.ui.ScriptumApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/App.Screen.DayNight">

        <activity
            android:name="sgtmelon.scriptum.cleanup.presentation.screen.ui.impl.SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@style/App.Screen.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="sgtmelon.scriptum.cleanup.presentation.screen.ui.impl.intro.IntroActivity"
            android:configChanges="keyboardHidden"
            android:exported="false"
            android:parentActivityName="sgtmelon.scriptum.cleanup.presentation.screen.ui.impl.SplashActivity"
            android:theme="@style/App.Screen.Intro"/>

        <activity
            android:name="sgtmelon.scriptum.cleanup.presentation.screen.ui.impl.main.MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name="sgtmelon.scriptum.cleanup.presentation.screen.ui.impl.note.NoteActivity"
            android:exported="false"
            android:parentActivityName="sgtmelon.scriptum.cleanup.presentation.screen.ui.impl.main.MainActivity"/>

        <activity
            android:name="sgtmelon.scriptum.cleanup.presentation.screen.ui.impl.preference.PreferenceActivity"
            android:configChanges="keyboardHidden"
            android:exported="false"
            android:parentActivityName="sgtmelon.scriptum.cleanup.presentation.screen.ui.impl.main.MainActivity"/>

        <activity
            android:name="sgtmelon.scriptum.cleanup.presentation.screen.ui.impl.preference.help.HelpDisappearActivity"
            android:configChanges="keyboardHidden"
            android:exported="false"
            android:parentActivityName="sgtmelon.scriptum.cleanup.presentation.screen.ui.impl.preference.PreferenceActivity"/>

        <activity
            android:name="sgtmelon.scriptum.cleanup.presentation.screen.ui.impl.preference.develop.PrintDevelopActivity"
            android:configChanges="keyboardHidden"
            android:exported="false"
            android:parentActivityName="sgtmelon.scriptum.cleanup.presentation.screen.ui.impl.preference.PreferenceActivity"/>

        <activity
            android:name="sgtmelon.scriptum.cleanup.presentation.screen.ui.impl.notification.NotificationActivity"
            android:configChanges="keyboardHidden"
            android:exported="false"
            android:parentActivityName="sgtmelon.scriptum.cleanup.presentation.screen.ui.impl.main.MainActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="sgtmelon.scriptum.cleanup.presentation.screen.ui.impl.notification.AlarmActivity"
            android:configChanges="keyboardHidden"
            android:exported="false"
            android:parentActivityName="sgtmelon.scriptum.cleanup.presentation.screen.ui.impl.main.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name="sgtmelon.scriptum.cleanup.presentation.receiver.action.AlarmActionReceiver" />
        <receiver android:name="sgtmelon.scriptum.cleanup.presentation.receiver.action.UnbindActionReceiver" />

        <receiver android:name="sgtmelon.scriptum.cleanup.presentation.receiver.screen.DevelopScreenReceiver" />
        <receiver android:name="sgtmelon.scriptum.cleanup.presentation.receiver.screen.MainScreenReceiver" />
        <receiver android:name="sgtmelon.scriptum.cleanup.presentation.receiver.screen.NoteScreenReceiver" />

        <receiver android:name="sgtmelon.scriptum.cleanup.presentation.receiver.EternalReceiver" />

        <receiver
            android:name="sgtmelon.scriptum.cleanup.presentation.receiver.BootReceiver"
            android:exported="false"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="sgtmelon.scriptum.cleanup.presentation.service.EternalService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false" />

    </application>

</manifest>